ACCESS_TOKEN_SECRET=kaldjflkadnlaknvlaskdnlakndglakdsadfaldjf
REFRESH_TOKEN_SECRET=aldskjflakdnlvaksdnlfaldkjflaksdflana
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
REDIS_URL=redis://127.0.0.1:6379
port=3010